doctype
html(lang="eng-ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="styles/animate-css.css" rel="stylesheet")
        link(href="styles/main.css" rel="stylesheet")
        title="Дипломный проект-2"
    body
        section.header
            .conteiner
                .heading
                    .logo
                        img(class="logo__picture" src="image/picture-in-header-logo.png")
                    nav.navigation
                        ul.mavigation__list
                            li.mavigation__list-item
                                a(class="mavigation__list-item-link" href="") Home
                            li.mavigation__list-item
                                a(class="mavigation__list-item-link" href="") About Us
                            li.mavigation__list-item
                                a(class="mavigation__list-item-link" href="") Portfolio
                            li.mavigation__list-item
                                a(class="mavigation__list-item-link" href="") Pricing
                            li.mavigation__list-item
                                a(class="mavigation__list-item-link" href="") Team
                            li.mavigation__list-item
                                a(class="mavigation__list-item-link" href="") Blog
                            li.mavigation__list-item
                                a(class="mavigation__list-item-link" href="") Contact
            .slaider
                .block-with-text-in-slaider
                    p.block-with-text-in-slaider__heading Our Clients Are Our First Priority
                    p.block-with-text-in-slaider__name WELCOME TO BINO
                    span.block-with-text-in-slaider__line
                    p.block-with-text-in-slaider__description.
                                                              Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum
                                                              has been the industry's standard dummy text ever since the 1500s, when an unknown
                                                              printer took a gallery of type and scrambled it to make a type specimen book.
            .block-with-botton-after-slaider                                               
                button.button GET STARTED NOW
                button.button LEARN MORE
        section.main
            .conteiner
                .our-strengthss
                    .icon-border
                    .icon-svg
                        include ../image/icon-in-our-strengths-block/big-anchor.svg
                    .our-strengths-items
                        .our-strengths__item
                            .our-strengths__item-border
                            .our-strengths__item-icon
                                include ../image/icon-in-our-strengths-block/rounded-glasses.svg
                            p.our-strengths__item-name SLEEK DESIGN
                                span.line
                            p.our-strengths__item-description.
                                                            Lorem ipsum is simply dummy text of the
                                                            printing and typesetting let. Lorem ipsum
                                                            has been the industry.
                        .our-strengths__item
                            .our-strengths__item-border
                            .our-strengths__item-icon
                                include ../image/icon-in-our-strengths-block/like.svg
                            p.our-strengths__item-name CLEAN CODE
                                span.line
                            p.our-strengths__item-description.
                                                            Lorem ipsum is simply dummy text of the
                                                            printing and typesetting let. Lorem ipsum
                                                            has been the industry.
                        .our-strengths__item
                            .our-strengths__item-border
                            .our-strengths__item-icon
                                include ../image/icon-in-our-strengths-block/light-bulb.svg
                            p.our-strengths__item-name CREATIVE IDEAS
                                span.line
                            p.our-strengths__item-description.
                                                            Lorem ipsum is simply dummy text of the
                                                            printing and typesetting let. Lorem ipsum
                                                            has been the industry.
                        .our-strengths__item
                            .our-strengths__item-border
                            .our-strengths__item-icon
                                include ../image/icon-in-our-strengths-block/rectangular-speech-bubbles.svg
                            p.our-strengths__item-name FREE SUPPORT
                                span.line
                            p.our-strengths__item-description.
                                                            Lorem ipsum is simply dummy text of the
                                                            printing and typesetting let. Lorem ipsum
                                                            has been the industry.
            .our-history
                .conteiner
                    .our-history__block-with-picture
                        img(class="our-history__picture" src="image/picture-in-our-history.png")
                    .our-history__block-text
                        h2.caption-item OUR HISTORY
                        p.our-history__description.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Is sum has
                                                been the industry's standard dummy text ever since the 1500s, when an unk-nown printer took a
                                                galley of type and scrambled it to make a type specimen book.
                        p.our-history__description.
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets contain-
                                                ing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Page-
                                                Make including versions of Lorem Ipsum.

                        button.button.button_background-orange BROWSE OUR WORK
            .our-services
                .our-services__block-with-text
                    .indicator
                        .indicator__block
                        .indicator__block
                        .indicator__block
                    .our-services__block-with-text-descriptions
                        .caption-item.caption-item_border-right OUR SERVICES
                        .our-services__block-with-text-item
                            .our-services__block-with-text-item--heading WEB DESIGN
                            .our-services__block-with-text-item--description.
                                                                            Lorem Ipsum is simply dummy taxt of the printingand typesetting industry. Lorem ip sum has
                                                                            been the industry's standard dummy text ever.

                        .our-services__block-with-text-item
                            .our-services__block-with-text-item--heading PRINT DESIGN
                            .our-services__block-with-text-item--description.
                                                                            Lorem Ipsum is simply dummy taxt of the printingand typesetting industry. Lorem ip sum has
                                                                            been the industry's standard dummy text ever.

                        .our-services__block-with-text-item
                            .our-services__block-with-text-item--heading PHOTOGRAPHY
                            .our-services__block-with-text-item--description.
                                                                            Lorem Ipsum is simply dummy taxt of the printingand typesetting industry. Lorem ip sum has
                                                                            been the industry's standard dummy text ever.
                .our-services__block-with-icon
                        .conteiner
                            .our-services__block-with-icon-wrapper
                                .icon-border.icon-border_morgin-top
                                .icon-svg
                                    include ../image/icon-in-our-services-block/monitor.svg
                                .icon-border.icon-border_morgin-top
                                .icon-svg
                                    include ../image/icon-in-our-services-block/layers.svg
                                .icon-border.icon-border_morgin-top
                                .icon-svg                                       
                                    include ../image/icon-in-our-services-block/photo-camera.svg
                .our-services__block-with-picture
            .recent-works
                p.recent-works__head RECENT WORKS
                p.recent-works__description It has survived not only five centuries, but also the leap scrambled it to make a type
                span.line-with-dot
                    .line-with-dot__line
                    .line-with-dot__dot
                    .line-with-dot__line
                nav.navigation-with-works
                    ul.navigation-with-works__list
                        li.navigation-with-works__list-item
                            a(class="navigation-with-works__list-item-link" href="") All&nbsp&nbsp&nbsp
                                                                                                        span.span-slash /
                        li.navigation-with-works__list-item
                            a(class="navigation-with-works__list-item-link" href="") PRINT DESIGN&nbsp&nbsp&nbsp
                                                                                                        span.span-slash /
                        li.navigation-with-works__list-item
                            a(class="navigation-with-works__list-item-link" href="") ANIMATION&nbsp&nbsp&nbsp
                                                                                                        span.span-slash /
                        li.navigation-with-works__list-item
                            a(class="navigation-with-works__list-item-link" href="") ART&nbsp&nbsp&nbsp
                                                                                                    span.span-slash /
                        li.navigation-with-works__list-item
                            a(class="navigation-with-works__list-item-link" href="") WEB DESIGN&nbsp&nbsp&nbsp
                                                                                                            span.span-slash /
                        li.navigation-with-works__list-item
                            a(class="navigation-with-works__list-item-link" href="") PHOTOGRAPHY&nbsp&nbsp&nbsp
                                                                                                            span.span-slash /
                        li.navigation-with-works__list-item
                            a(class="navigation-with-works__list-item-link" href="") VIDEO&nbsp&nbsp&nbsp
                                                                                                    span.span-slash /
                .gallery
                    .gallery__item
                        
                        img(class="gallery-picture" src="image/picture-in-block-recent-works/pic-1.png")
                    .gallery__item
                        .gallery__item-wrapper
                            span.gallery__item-wrapper-border
                            p.gallery__item-wrapper-name-works T-SHIRT DESIGN
                            p.gallery__item-wrapper-name-section art/t-shirt
                        img(class="gallery-picture" src="image/picture-in-block-recent-works/pic-2.png")
                    .gallery__item
                        img(class="gallery-picture" src="image/picture-in-block-recent-works/pic-3.png")
                    .gallery__item
                        img(class="gallery-picture" src="image/picture-in-block-recent-works/pic-4.png")
                    .gallery__item
                        img(class="gallery-picture" src="image/picture-in-block-recent-works/pic-5.png")
                    .gallery__item
                        img(class="gallery-picture" src="image/picture-in-block-recent-works/pic-6.png")
                    .gallery__item
                        img(class="gallery-picture" src="image/picture-in-block-recent-works/pic-7.png")
                    .gallery__item
                        img(class="gallery-picture" src="image/picture-in-block-recent-works/pic-8.png")
            .case-study
                .conteiner
                    p.case-study__head CASE STUDY
                    p.case-study__description A brief story about how this process works, keep an eye till the end.
                    span.line-with-dot
                        .line-with-dot__line
                        .line-with-dot__dot
                        .line-with-dot__line
                    .block-with-ideas-and-button
                        .icon-svg.icon-svg_border-square
                            include ../image/icon-in-our-strengths-block/light-bulb.svg
                        p.our-strengths__item-name.our-strengths__item-name_size-15 ACCUMULATE CREATIVE IDEAS
                            span.line
                        p.our-strengths__item-description.our-strengths__item-description_size-12.
                                                         Lorem ipsum is simply dummy text of the
                                                         printing and typesetting let. Lorem ipsum
                                                         has been the industry. Lorem Ipsum is simply dummy
                                                         text of the printing and typesetting let. Lorem
                                                         Ipsum has been the industry printing and  type
                                                         lorem Ipsum has been the setting let.
                        button.button.button_background-orange READ MORE
                        .indicator.indicator_circle
                             .indicator__block.indicator__block_circle
                             .indicator__block.indicator__block_circle
                             .indicator__block.indicator__block_circle
                    .case-study__picture
                        img(class="case-study__picture-image" src="image/picture-in-case-study.png")
                .case-study__companents
                    .conteiner
                        .companents
                            .companents-icon
                                img(class="companents-icon-image" src="image/icon-for-block-case-study/icon-1.png")
                                p.namber 3891
                                p.description User Favourites
                            .companents-icon
                                img(class="companents-icon-image" src="image/icon-for-block-case-study/icon-2.png")
                                p.namber 281K
                                p.description Posts Last 24 Hours
                            .companents-icon
                                img(class="companents-icon-image" src="image/icon-for-block-case-study/icon-3.png")
                                p.namber 618
                                p.description Total Posts                               
                            .companents-icon
                                img(class="companents-icon-image" src="image/icon-for-block-case-study/icon-4.png")
                                p.namber 178
                                p.description Campaigns                                 
                            .companents-icon
                                img(class="companents-icon-image" src="image/icon-for-block-case-study/icon-5.png")
                                p.namber 285
                                p.description Amazing Features
            .our-pricing
                .conteiner
                    p.our-pricing__head OUR PRICING
                    p.our-pricing__description A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
                    span.line-with-dot
                        .line-with-dot__line
                        .line-with-dot__dot
                        .line-with-dot__line
                    .prices
                        .price
                            .price__head STARTER
                            .icon-border.icon-border_width-180
                                .price__price-in-circle 
                                    p.price__price-in-circle-number $19
                                    p.price__price-in-circle-period per month
                            .price-description
                                p.services Competition Analysis Methods
                                p.services All Ranked URLs
                                p.services International Support System
                                p.services Social Media
                                .button.button_background-orange-padding-160 CHOOSE PLAN
                        .price
                            .price__head PREMIUM
                            .icon-border.icon-border_width-180
                                .price__price-in-circle 
                                    p.price__price-in-circle-number $39
                                    p.price__price-in-circle-period per month
                            .price-description
                                p.services Competition Analysis Methods
                                p.services All Ranked URLs
                                p.services International Support System
                                p.services Social Media
                                .button.button_background-orange-padding-160 CHOOSE PLAN
                        .price
                            .price__head BUSINESS
                            .icon-border.icon-border_width-180
                                .price__price-in-circle 
                                    p.price__price-in-circle-number $99
                                    p.price__price-in-circle-period per month
                            .price-description
                                p.services Competition Analysis Methods
                                p.services All Ranked URLss
                                p.services International Support System
                                p.services Social Media
                                .button.button_background-orange-padding-160 CHOOSE PLAN
            .our-team
                .our-team__background-block
                    p.our-team__head OUR PRICING
                    p.our-team__description Meet the craziest team. Share your thoughts with them.
                    span.line-with-dot
                        .line-with-dot__line
                        .line-with-dot__dot
                        .line-with-dot__line
                    .team-info-block
                        .team-info-block-people
                            img(class="people-photo" src="image/photo-in-our-team-block/photo-1.png")
                            span.team-info-block-people__line-after-photo
                            p.team-info-block-people__name Kazi Erfan
                            p.team-info-block-people__professiaon UI/UX Design
                        .team-info-block-people
                            img(class="people-photo" src="image/photo-in-our-team-block/photo-2.png")
                            span.team-info-block-people__line-after-photo
                            p.team-info-block-people__name Kazi Erfan
                            p.team-info-block-people__professiaon UI/UX Design
                        .team-info-block-people
                            img(class="people-photo" src="image/photo-in-our-team-block/photo-3.png")
                            span.team-info-block-people__line-after-photo
                            p.team-info-block-people__name Kazi Erfans
                            p.team-info-block-people__professiaon UI/UX Design
                        .team-info-block-people
                            .dee
                                img(class="people-photo" src="image/photo-in-our-team-block/photo-4.png")
                            span.team-info-block-people__line-after-photo
                            p.team-info-block-people__name Kazi Erfan
                            p.team-info-block-people__professiaon UI/UX Design
                        .team-info-block-people
                            img(class="people-photo" src="image/photo-in-our-team-block/photo-5.png")
                            span.team-info-block-people__line-after-photo
                            p.team-info-block-people__name Kazi Erfan
                            p.team-info-block-people__professiaon UI/UX Design
            .great-integrations-with-others
                .conteiner
                    p.great-integrations-with-others__head GREAT INTEGRATIONS WITH OTHERS
                    p.great-integrations-with-others__description.
                            Suspendisse sed eros mollis, tincidunt felis eget,interdum erat.
                            Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
                    span.line-with-dot
                        .line-with-dot__line
                        .line-with-dot__dot
                        .line-with-dot__line
                    .brend
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-1.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-2.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-3.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-4.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-5.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-6.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-7.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-8.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-9.png")
                        .brend__logo
                            img(class="brend__logo-picture" src="image/great-integrations-with-others__LOGO-ICON/icon-10.png")
            .our-blog
                    p.our-blog__head OUR BLOG
                    p.our-blog__heding-description.
                        Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.
                    span.line-with-dot
                        .line-with-dot__line
                        .line-with-dot__dot
                        .line-with-dot__line

                    .our-blog__block-with-picture
                        img(class="our-blog__block-with-picture-image" src="image/picture-for-our-blog-block/pic-1.png")
                        .our-blog__description
                            p.our-blog__description-name-section art/t-shirt
                            h3.our-blog__description-name-works T-SHIRT DESIGN
                            p.our-blog__description-border
                            p.our-blog__description-text.
                                                    Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been
                                                    the indu Stry's standard dummy text ever since the
                                                    1500s, an unknown printer took a galley of type a 
                                                    scrambled it to make a type specimen book.
                            button.button-read-more Read More >>
                    
                    .our-blog__block-with-picture
                        img(class="our-blog__block-with-picture-image" src="image/picture-for-our-blog-block/pic-2.png")
                        .our-blog__description
                            p.our-blog__description-name-section art/t-shirt
                            h3.our-blog__description-name-works T-SHIRT DESIGN
                            p.our-blog__description-border
                            p.our-blog__description-text.
                                                    Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been
                                                    the indu Stry's standard dummy text ever since the
                                                    1500s, an unknown printer took a galley of type a 
                                                    scrambled it to make a type specimen book.
                            button.button-read-more Read More >>

                    .our-blog__block-with-picture
                        img(class="our-blog__block-with-picture-image" src="image/picture-for-our-blog-block/pic-3.png")
                        .our-blog__description
                            p.our-blog__description-name-section art/t-shirt
                            h3.our-blog__description-name-works T-SHIRT DESIGN
                            p.our-blog__description-border
                            p.our-blog__description-text.
                                                    Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been
                                                    the indu Stry's standard dummy text ever since the
                                                    1500s, an unknown printer took a galley of type a 
                                                    scrambled it to make a type specimen book.
                            button.button-read-more Read More >>
                    
                    .our-blog__block-with-picture
                        img(class="our-blog__block-with-picture-image" src="image/picture-for-our-blog-block/pic-4.png")
                        .our-blog__description
                            p.our-blog__description-name-section art/t-shirt
                            h3.our-blog__description-name-works T-SHIRT DESIGN
                            p.our-blog__description-border
                            p.our-blog__description-text.
                                                    Lorem Ipsum is simply dummy text of the printing
                                                    and typesetting industry. Lorem Ipsum has been
                                                    the indu Stry's standard dummy text ever since the
                                                    1500s, an unknown printer took a galley of type a 
                                                    scrambled it to make a type specimen book.
                            button.button-read-more Read More >>           
            .keep-in-touch
                .conteiner
                    p.keep-in-touch__head KEEP IN TOUCH
                    p.keep-in-touch__heding-description.
                        Nullam sit amet odio eu est  allquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
                    span.line-with-dot
                        .line-with-dot__line
                        .line-with-dot__dot
                        .line-with-dot__line
                    .contact-information
                        h4.contact-information__heading OUR ADDRESS
                        p.contact-information__info House #13, Streat road, Sydney
                        p.contact-information__info 2310 Australia
                        h4.contact-information__heading CALL US
                        p.contact-information__info +880 168 109 1425
                        p.contact-information__info + 0216809142
                        h4.contact-information__heading EMAIL US
                        p.contact-information__info contactus@email.com
                    form(class="forma")
                        input(class="forma__input-name" type="text" value="Name" onclick="this.value='';" onblur="this.value=!this.value?'Name':this.value;")
                        input(class="forma__input-email" type="text" value="Email" onclick="this.value='';" onblur="this.value=!this.value?'Email':this.value;")
                        input(class="forma__input-subject" type="text" value="Subject" onclick="this.value='';" onblur="this.value=!this.value?'Subject':this.value;")
                        textarea(class="forma__input-message" onclick="this.value='';" onblur="this.value=!this.value?'Message':this.value;") Message
                        input(class="forma__input-button" type="submit" value="SEND MESSAGE")
        section.footer
            h3.footer__heading Let's Get Started Now. 
                span.footer__heading-weig-text It's FREE
            p.footer__description 30 day free trial, Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
            button.button.button_in-footer START FREE TRIAL
        .social-media
            .conteiner
                .icon-with-block
                    .widget__icon
                        include ../image/icon-in-widgit-block-after-footer/facebook-logo.svg
                    .widget__icon
                        include ../image/icon-in-widgit-block-after-footer/twitter-logo-silhouette.svg
                    .widget__icon
                        include ../image/icon-in-widgit-block-after-footer/rss.svg
                    .widget__icon
                        include ../image/icon-in-widgit-block-after-footer/google-plus-logo.svg                  
                    .widget__icon
                        include ../image/icon-in-widgit-block-after-footer/linkedin-logo.svg
                    .widget__icon
                        include ../image/icon-in-widgit-block-after-footer/skype.svg
                    .widget__icon
                        include ../image/icon-in-widgit-block-after-footer/vimeo-logo.svg
                    .widget__icon
                        include ../image/icon-in-widgit-block-after-footer/tumblr-logo.svg
                p.right Kazi Erfan &#169; All Rights Reserved
        script(src="../javascript.js") 







                    
                




             














                

                        
                         



            





